* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.qr-card {
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 460px;
    border-radius: 15px;
    box-shadow: 2px 2px hsl(216, 15%, 48%);
    transition: all .30s ease;
}

.qr-card:hover {
    cursor: pointer;
    background-color: hsl(218, 44%, 22%);
}

.qr-card:hover .title,
.qr-card:hover .description {
    color: white;
}

.qr-code {
    width: 270px;
    height: 270px;
    border-radius: 10px;
}

.text {
    margin: 1em auto;
    width: 90%;
    text-align: center;
}

.title, .description {
    font-family: "Outfit", sans-serif;
    transition: all 0.5s ease;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    width: 18ch;
    margin: 0px auto;
    color: hsl(218, 44%, 22%);
}

.description {
    padding: 1em 0em;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

.attribution {
    font-size: 0.75rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}